        * {
            box-sizing:border-box;
        }

       body {
           margin:0;
           font-family: "Segoe UI",Arial,sans-serif;
		   background-color: #f1f1f1;
       }

/*        header {
            position: fixed;
            width:100%;
            height:45px;
            display:flex;
            padding:0 15px;
            justify-content:space-between;
            align-items:center;
            background: linear-gradient(45deg,#64AFC0 0,#35D8B3 100%);
            color:#fff;
            z-index:2;

        }

        header ul {
            display:flex;
            margin:0;
            padding:0;
            list-style:none;
        }

        header li {
            padding:0 .1em;
            line-height:40px;
        }
		
		header a{
			color: #FFFFFF;
		}
*/
        button {
            background:none;
            border:none;
            color:#fff;
        }

        .material-icons {
            line-height:50px;
        }

       img {
            padding: 1px;
			max-width: 90%;
        }

        main {
            padding-top:40px;
            line-height:1.5rem;
			background-color: #f1f1f1;
			font-family: "Segoe UI",Arial,sans-serif;
        }
		p { font-family: "Segoe UI",Arial,sans-serif;
		    text-align: justify;
		}
		
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		[class*="col-"] {
			float: left;
			padding: 15px;
		}
		/* For mobile phones: */
		[class*="col-"] {
			width: 100%;
            background-color: ffffff;
			overflow-x: hidden;
            overflow-y: hidden;	
			height: auto;
		}
		@media only screen and (min-width: 400px) {
			/* For desktop: */
			.col-0 {width: 2%;}
			.col-1 {width: 50%;}
			.col-2 {width: 100%;}
			.notebox{ position: relative; left: 5px;}
			.imagebox{ position: relative; left: 5px;}
			.contentbox{width:50%;}
		}
		.imagebox {    
			padding-left: 10px;
			padding-right: 10px;
    		height: auto;
			overflow-x: hidden;
            overflow-y: hidden;
			background-color: #ffffff;
			margin: 15 5 5 15;
			top: 15px;
			left: 5px;
			position: relative;
		}
		.contentbox{
			overflow-x: hidden;
            overflow-y: hidden;		
			background-color: #f1f1f1;
		}		
		.notebox {    
			padding-left: 10px;
			padding-right: 10px;
			width: auto;
    		max-height: 400px;
			overflow-x: hidden;
            overflow-y: auto;
			box-shadow: 0 0 5px #999;
			margin-left: 10px;
			margin-right: 15px;
			top: 15px;
			background-color: #ffffff;
			position: relative;
			/*box-shadow: 8px 8px 21px -3px rgba(0, 0, 0, 0.75);*/			
		}
	
